/* PRIMARY UPPERCASE DISPLAY HEADLINE, TITLES + NUMBERS = TITILLIUM WEB REGULAR, SEMIBOLD & BOLD = 
PRIMARY INFORMATIONAL + PARAGRAPH = Roboto Light & Regular
ALTERNATE INFORMATIONAL = Titillium Web
MIXED-CASE HEADINGS + TITLES = D-Din Bold
ALTERNATE UPPERCASE HEADINGS, TITLES + LABELS= D-DIN REGULAR & BOLD
LOWERCASE WEB URL = d-din expanded bold */

:root {
    --brand-blue: #51a3d6;
    --brand-gray: #5b5b5b;
    --accent-dark: #0f415c;
    --brand-blue-dark: #4295cc;
    --accent-light: #A4D9F5;
    --background-blue: #EAF7FE;
    --background-gray: #EFEFEF;
}

body {
    font-family: Arial, sans-serif;
    color: var(--brand-gray);
    background-color: var(--background-blue);
}

h5 {
    font-family: TITILLIUM WEB SEMIBOLD, Sans;
    text-transform: uppercase;
}
h6 {
    font-family: D-DIN REGULAR, Sans;
}

.link {
    color: var(--accent-dark)
}


.sectionTitle {
    font-family: TITILLIUM WEB REGULAR , D-DIN REGULAR, ;
}

.sectionTitle {
    font-family: D-DIN REGULAR,sans-serif;
    font-size: 2em;
    width: 25vw;
}
.expCompanyContainer {
    display: flex;
    flex-flow: row;
    margin: 4px;
}
.expCompanyTextContainer {
    flex-flow: column;
    width: 75%;
    padding: 2px;
    border-left: 2px solid #4295cc;
}
.expCompanyLogoContainer {
    width: 25%;
    height: 100%;
    display: flex;  
    align-items: center;
    justify-content: center;
}
.companyLogoImage {
    max-width: 50%;
    /* max-height: 2em; */
    max-width: 7em;
    /* display:inline-block; */
}
.expCompanySummaryRow {
    font-family: TITILLIUM WEB SEMIBOLD, sans-serif;
    font-size: 1em;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    padding: 2px;
}
.expPositionSummaryRow {
    width: 95%;
    font-family: D-DIN BOLD, sans-serif;
    font-size: 1em;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    padding: 2px;
    /* justify-content: right; */
}

.name {
    width: 50%;
}
.positon {
    width: 50%;
}
