/* PRIMARY UPPERCASE DISPLAY HEADLINE, TITLES + NUMBERS = TITILLIUM WEB REGULAR, SEMIBOLD & BOLD = 
PRIMARY INFORMATIONAL + PARAGRAPH = Roboto Light & Regular
ALTERNATE INFORMATIONAL = Titillium Web
MIXED-CASE HEADINGS + TITLES = D-Din Bold
ALTERNATE UPPERCASE HEADINGS, TITLES + LABELS= D-DIN REGULAR & BOLD
LOWERCASE WEB URL = d-din expanded bold */

:root {
    --brand-blue: #51a3d6;
    --brand-gray: #5b5b5b;
    --accent-dark: #0f415c;
    --brand-blue-dark: #4295cc;
    --accent-light: #A4D9F5;
    --background-blue: #EAF7FE;
    --background-gray: #EFEFEF;
    --porportionSmall: 20%;
    --porportionLarge: 80%;
}

body {
    font-family: Titillium Web Regular, sans-serif;
    color: var(--brand-gray);
    background-color: var(--background-blue);
    display: flex;
    flex-flow: column;
    /* scroll-padding-block-start: 500px; */
}

p {
    margin: 2px;
}
.navBar {    
    height: 250px;
    width: 100%;
    position: fixed;
    top: 400;
    /* margin: 4px; */
    /* overflow: hidden; */
    border-radius: 10px;
    /* z-index: auto ; */
}

.link {
    color: var(--accent-dark)
}

.personaContainer {
    display: flex;
    flex-flow: row;
    padding: 4px;
    color: var(--accent-dark);
    background-color: var(--brand-blue);
    
}
.personaImgContainer {
    width: var(--porportionSmall);
    /* height: inherit; */
    display: flex;  
    align-items: center;
    justify-content: center;
    padding: 4px;
}
.personaImg {
    height: 150px;
    width: auto;
    border-radius: 75px;
}

.personaTextContainer {
    /* color: var(--background-gray); */
    padding: 8px;
}
.personaName {
    font-family: Titillim Web, sans-serif;
    font-weight: bold;
    font-size: 4em;
  }
.personaLabel {
    font-size: 2em;
}

.sectionTitle {
    font-family: TITILLIUM WEB BOLD , sans-serif;
    font-size: 2em;
    width: var(--porportion);
    /* text-align: center; */
    margin-left: 8px;
    text-transform: uppercase;
    /* scroll-behavior: smooth; */
    /* scroll-padding-top: 200px; */
    /* z-index: auto; */
}
.recordContainer {
    display: flex;
    flex-flow: row;
    margin: 4px;
}
.logoContainer {
    width: var(--porportionSmall);
    /* height: inherit; */
    display: flex;  
    align-items: center;
    justify-content: center;
}
.logoImg {
    max-width: 8em;
    max-height: 5em;
}
.recordTextContainer {
    flex-flow: column;
    width: var(--porportionLarge);
    padding: 2px;
    border-left: 3px solid var(--accent-dark);
}
.recordSummaryRow {
    font-family: TITILLIUM WEB SEMIBOLD, sans-serif;
    font-size: 1.5em;
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    padding: 2px;
    background-color: var(--brand-blue);
    color: var(--accent-dark);
}
.roleContainer {
    /* border-left: 5px solid  #4295cc; */
    /* border: 2px solid #4295cc; */
    /* width: 99%; */
    margin-left: auto;
    margin-right: 0;
    ;
}
.roleSummaryRow {
    /* width: inherit; */
    font-family: D-Din Bold, sans;
    /* font-size: 1em; */
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    padding: 3px;
    background-color:  var(--background-gray);
    border-radius: 1em;
    
    /* justify-content: right; */
}

::marker  {
    content: '+';
}
.name {
    width: 50%;
}
.role {
    width: 50%;
}

.expHighlightList {
    margin: 2px;
}
